pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"disableCertValidation": false,
					"url": {
						"value": "https://mentoring-key-vault-ea.vault.azure.net/secrets/log-app-url/a31ca804832a4ea59d12c445d63d33b4?api-version=7.5",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					},
					"body": {
						"message": ""
					}
				}
			}
		],
		"variables": {
			"varLgicAppURL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "module#10"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-24T13:32:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}