pipeline/pl_master_load_with_parameters.json
{
	"name": "pl_master_load_with_parameters",
	"properties": {
		"activities": [
			{
				"name": "act_iter_for_each_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_gen_lookup_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_gen_lookup_metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "act_mt_copy_files_to_db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "fname",
											"value": "$$FILENAME"
										},
										{
											"name": "pipid",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@item().folder",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().file_name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table ', item().dest_schema, '.', item().dest_table_name)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"dataIntegrationUnits": {
									"value": "@item().DIU_val",
									"type": "Expression"
								},
								"translator": {
									"value": "@json(item().mapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dls_metadatadriven_params",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().container",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().file_name",
											"type": "Expression"
										},
										"column_delimiter": {
											"value": "@item().column_delimiter",
											"type": "Expression"
										},
										"encoding": {
											"value": "@item().encoding",
											"type": "Expression"
										},
										"escape_char": {
											"value": "@item().escape_char",
											"type": "Expression"
										},
										"quote_char": {
											"value": "@item().quote_char",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_db_movies_param",
									"type": "DatasetReference",
									"parameters": {
										"dest_schema": {
											"value": "@item().dest_schema",
											"type": "Expression"
										},
										"dest_table_name": {
											"value": "@item().dest_table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_gen_spActivityLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_mt_copy_files_to_db",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[spControlMetadataActivityLog]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": {
											"value": "act_mt_copy_files_to_db",
											"type": "Expression"
										},
										"type": "String"
									},
									"billing_duration": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.billingReference.billableDuration[0].duration",
											"type": "Expression"
										},
										"type": "Double"
									},
									"copy_duration": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DIU_num": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"exec_status": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"meter_type": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.billingReference.billableDuration[0].meterType",
											"type": "Expression"
										},
										"type": "String"
									},
									"parallel_copies_num": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pipeline_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"queue_duration": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].profile.queue.duration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"read_rows": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"transfer_duration": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].profile.transfer.duration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"written_rows": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"exec_start_time": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"processed_files_count": {
										"value": {
											"value": "@activity('act_mt_copy_files_to_db').output.filesRead",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adf_db_movies",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "act_gen_fail",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "act_mt_copy_files_to_db",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('act_mt_copy_files_to_db').output.errors[0].Message",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@activity('act_mt_copy_files_to_db').output.errors[0].Code",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_gen_spLogError",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "act_gen_fail",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[spControlMetadataErrorLog]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": {
											"value": "act_mt_copy_files_to_db",
											"type": "Expression"
										},
										"type": "String"
									},
									"dt_log": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_code": {
										"value": {
											"value": "@activity('act_gen_fail').output.errorCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_msg": {
										"value": {
											"value": "@activity('act_gen_fail').output.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adf_db_movies",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "act_gen_lookup_metadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_gen_varExecStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select \n  container,\n  folder,\n  file_name,\n  column_delimiter,\n  encoding,\n  escape_char,\n  quote_char,\n  dest_schema,\n  dest_table_name,\n  DIU_val,\n  mapping \nfrom etl.tControlMetadata",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_db_movies",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_gen_spLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "act_gen_varExecEndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[etl].[spControlMetadataLog]",
					"storedProcedureParameters": {
						"exec_end_time": {
							"value": {
								"value": "@variables('varExecEndTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"exec_start_time": {
							"value": {
								"value": "@variables('varExecStartTime')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adf_db_movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "act_gen_varExecStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varExecStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_gen_varExecEndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_iter_for_each_file",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varExecEndTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_gen_web_get_uri_val_success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_iter_for_each_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"disableCertValidation": false,
					"url": {
						"value": "@pipeline().globalParameters.glob_param_akv_logapp_uri",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "act_gen_web_post_email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_gen_web_get_uri_val_success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@activity('act_gen_web_get_uri_val_success').output.value",
						"type": "Expression"
					},
					"body": {
						"value": "{\n\t\"subject\":\"Pipeline @{pipeline().Pipeline} finished. Status: Succeeded\",\n\t\"message\":\"<hr/>\n<h4 style='color:green'>Pipeline run finished successfully.</h4>\n<hr/>\nData Factory Name: <b>@{pipeline().DataFactory}</b><br/>\nPipeline Name: <b>@{pipeline().Pipeline}</b><br/>\nPipeline Run Id: <b>@{pipeline().RunId}</b><br/>\n<hr/>\n<p style='color:gray'>This email was generated automatically. Please do not respond to it.</p>\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_gen_web_get_uri_val_fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_iter_for_each_file",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"disableCertValidation": false,
					"url": {
						"value": "@pipeline().globalParameters.glob_param_akv_logapp_uri",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "act_gen_web_post_email_fail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_gen_lookup_get_error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@activity('act_gen_web_get_uri_val_fail').output.value",
						"type": "Expression"
					},
					"body": {
						"value": "{\n\t\"subject\":\"Pipeline @{pipeline().Pipeline} finished. Status: Failed\",\n\t\"message\":\"<hr/>\n<h4 style='color:red'>Pipeline run failed.</h4>\n<hr/>\nData Factory Name: <b>@{pipeline().DataFactory}</b><br/>\nPipeline Name: <b>@{pipeline().Pipeline}</b><br/>\nPipeline Run Id: <b>@{pipeline().RunId}</b><br/>\nError: <b>@{activity('act_gen_lookup_get_error').output.firstRow.error_msg}</b><br/>\n<hr/>\n<p style='color:gray'>This email was generated automatically. Please do not respond to it.</p>\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_gen_lookup_get_error",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_gen_web_get_uri_val_fail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select distinct\n  error_msg\nfrom etl.tControlMetadataErrorLog\nwhere pipeline_id = '@{pipeline().RunId}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_db_movies",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"varExecStartTime": {
				"type": "String"
			},
			"varExecEndTime": {
				"type": "String"
			},
			"varLogicAppUrl": {
				"type": "String"
			}
		},
		"folder": {
			"name": "module#9"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-24T17:13:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}