mentoring-adf-ea/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mentoring-adf-ea"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_to_db_stg_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_mt_copy_to_db_stg_metadata",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "fname",
										"value": "$$FILENAME"
									},
									{
										"name": "pipelineid",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "movies",
									"wildcardFileName": "movies_metadata*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table stg.movies_metadata",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adf_azurementoringdatalakeea",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "adult",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adult",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "belongs_to_collection",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "belongs_to_collection",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "budget",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "budget",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "genres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "genres",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "homepage",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "homepage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "imdb_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "imdb_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "original_language",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "original_language",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "original_title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "original_title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "overview",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "overview",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "popularity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "popularity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "poster_path",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "poster_path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "production_companies",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "production_companies",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "production_countries",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "production_countries",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "release_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "release_date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "revenue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "revenue",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "runtime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "runtime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "spoken_languages",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "spoken_languages",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tagline",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tagline",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "video",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "video",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "vote_average",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "vote_average",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "vote_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "vote_count",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pipelineid",
											"type": "String"
										},
										"sink": {
											"name": "pipelineId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fname",
											"type": "String"
										},
										"sink": {
											"name": "source_filename",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dls_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_db_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#5"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-29T13:31:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_to_db_stg_online_purchase')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_gen_copy_to_db_stg_online_purchase",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "fname",
										"value": "$$FILENAME"
									},
									{
										"name": "pipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "online",
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table stg.online_purchase",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['serviceName']"
										},
										"sink": {
											"name": "online_service_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serviceCode']"
										},
										"sink": {
											"name": "online_service_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['movieId']"
										},
										"sink": {
											"name": "movie_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['userId']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['price']"
										},
										"sink": {
											"name": "price",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['transaction']['id']"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['transaction']['datetime']"
										},
										"sink": {
											"name": "transaction_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fname']"
										},
										"sink": {
											"name": "source_filename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pipelineId']"
										},
										"sink": {
											"name": "pipelineId",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dls_online",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_db_stg_online_purchase",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#7"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-08T12:08:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_to_db_stg_ratings')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_mt_copy_to_db_stg_ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "fname",
										"value": "$$FILENAME"
									},
									{
										"name": "pipelineid",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFolderPath": "movies",
									"wildcardFileName": "ratings*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table stg.ratings",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "userId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "userId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "movieId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "movieId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "rating",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rating",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pipelineid",
											"type": "String"
										},
										"sink": {
											"name": "pipelineId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fname",
											"type": "String"
										},
										"sink": {
											"name": "source_filename",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_dls_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_db_ratings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#5"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-29T13:31:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_data_ds_source_to_ds_sink')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_gen_GetSourceMetadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "act_gen_varStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_src_metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "act_ic_ForEachSourceFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "act_gen_GetSourceMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ACT_GEN_GetSourceMetadata').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "act_mt_Copy_File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_src_csv",
											"type": "DatasetReference",
											"parameters": {
												"pSrcFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snk_csv",
											"type": "DatasetReference",
											"parameters": {
												"pDestFileName": {
													"value": "@concat(replace(item().name,'.csv',''),'_',formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Central European Standard Time'),'yyyyMMddHHmmss'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "act_gen_varStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varPLStartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "act_gen_varEndTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "act_ic_ForEachSourceFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varPLEndTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACT_MT_Copy_CreateExecLogFile",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "act_gen_varEndTime",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select \n'@{pipeline().RunId}' as pipeline_run_id,\n'@{pipeline().Pipeline}' as pipeline_name,\n'@{formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','Central European Standard Time'),'yyyyMMdd_HH:mm:ss')}' as pipeline_trigger_time,\n'@{formatDateTime(convertTimeZone(variables('varPLStartTime'),'UTC','Central European Standard Time'),'yyyyMMdd_HH:mm:ss')}' as execution_start_time,\n'@{formatDateTime(convertTimeZone(variables('varPLEndTime'),'UTC','Central European Standard Time'),'yyyyMMdd_HH:mm:ss')}' as execution_end_time",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_db_movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_log",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"varPLStartTime": {
						"type": "String"
					},
					"varPLEndTime": {
						"type": "String"
					}
				},
				"folder": {
					"name": "module#2"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-25T14:39:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_data_ds_source_to_ds_sink_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_mt_CopyFiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": {
										"value": "@concat('_',formatDateTime(convertTimeZone(utcNow(),'UTC','Central European Standard Time'),'yyyyMMddHHmmss'),'.csv')",
										"type": "Expression"
									}
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adf_azurementoringdatalakeea",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_metadata",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#2"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-03T05:17:59Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_load_with_parameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_iter_for_each_file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "act_gen_lookup_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('act_gen_lookup_metadata').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "act_mt_copy_files_to_db",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "fname",
													"value": "$$FILENAME"
												},
												{
													"name": "pipid",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFolderPath": {
													"value": "@item().folder",
													"type": "Expression"
												},
												"wildcardFileName": {
													"value": "@item().file_name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{concat('truncate table ', item().dest_schema, '.', item().dest_table_name)}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"dataIntegrationUnits": {
											"value": "@item().DIU_val",
											"type": "Expression"
										},
										"translator": {
											"value": "@json(item().mapping)",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "ds_dls_metadatadriven_params",
											"type": "DatasetReference",
											"parameters": {
												"container": {
													"value": "@item().container",
													"type": "Expression"
												},
												"folder": {
													"value": "@item().folder",
													"type": "Expression"
												},
												"file_name": {
													"value": "@item().file_name",
													"type": "Expression"
												},
												"column_delimiter": {
													"value": "@item().column_delimiter",
													"type": "Expression"
												},
												"encoding": {
													"value": "@item().encoding",
													"type": "Expression"
												},
												"escape_char": {
													"value": "@item().escape_char",
													"type": "Expression"
												},
												"quote_char": {
													"value": "@item().quote_char",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_db_movies_param",
											"type": "DatasetReference",
											"parameters": {
												"dest_schema": {
													"value": "@item().dest_schema",
													"type": "Expression"
												},
												"dest_table_name": {
													"value": "@item().dest_table_name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "act_gen_spActivityLog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "act_mt_copy_files_to_db",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[etl].[spControlMetadataActivityLog]",
										"storedProcedureParameters": {
											"activity_name": {
												"value": {
													"value": "act_mt_copy_files_to_db",
													"type": "Expression"
												},
												"type": "String"
											},
											"billing_duration": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.billingReference.billableDuration[0].duration",
													"type": "Expression"
												},
												"type": "Double"
											},
											"copy_duration": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"DIU_num": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.usedDataIntegrationUnits",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"exec_status": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"meter_type": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.billingReference.billableDuration[0].meterType",
													"type": "Expression"
												},
												"type": "String"
											},
											"parallel_copies_num": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"queue_duration": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].profile.queue.duration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"read_rows": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"transfer_duration": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].profile.transfer.duration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"written_rows": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"exec_start_time": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"processed_files_count": {
												"value": {
													"value": "@activity('act_mt_copy_files_to_db').output.filesRead",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_adf_db_movies",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "act_gen_fail",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "act_mt_copy_files_to_db",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@activity('act_mt_copy_files_to_db').output.errors[0].Message",
											"type": "Expression"
										},
										"errorCode": {
											"value": "@activity('act_mt_copy_files_to_db').output.errors[0].Code",
											"type": "Expression"
										}
									}
								},
								{
									"name": "act_gen_spLogError",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "act_gen_fail",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[etl].[spControlMetadataErrorLog]",
										"storedProcedureParameters": {
											"activity_name": {
												"value": {
													"value": "act_mt_copy_files_to_db",
													"type": "Expression"
												},
												"type": "String"
											},
											"dt_log": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_code": {
												"value": {
													"value": "@activity('act_gen_fail').output.errorCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_msg": {
												"value": {
													"value": "@activity('act_gen_fail').output.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_adf_db_movies",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "act_gen_lookup_metadata",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "act_gen_varExecStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select \n  container,\n  folder,\n  file_name,\n  column_delimiter,\n  encoding,\n  escape_char,\n  quote_char,\n  dest_schema,\n  dest_table_name,\n  DIU_val,\n  mapping \nfrom etl.tControlMetadata",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadCommitted",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_db_movies",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "act_gen_spLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "act_gen_varExecEndTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[etl].[spControlMetadataLog]",
							"storedProcedureParameters": {
								"exec_end_time": {
									"value": {
										"value": "@variables('varExecEndTime')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"exec_start_time": {
									"value": {
										"value": "@variables('varExecStartTime')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_db_movies",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "act_gen_varExecStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varExecStartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "act_gen_varExecEndTime",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "act_iter_for_each_file",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varExecEndTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "act_gen_web_get_uri_val_success",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "act_iter_for_each_file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"disableCertValidation": false,
							"url": {
								"value": "@pipeline().globalParameters.glob_param_akv_logapp_uri",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "act_gen_web_post_email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "act_gen_web_get_uri_val_success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "@activity('act_gen_web_get_uri_val_success').output.value",
								"type": "Expression"
							},
							"body": {
								"value": "{\n\t\"subject\":\"Pipeline @{pipeline().Pipeline} finished. Status: Succeeded\",\n\t\"message\":\"<hr/>\n<h4 style='color:green'>Pipeline run finished successfully.</h4>\n<hr/>\nData Factory Name: <b>@{pipeline().DataFactory}</b><br/>\nPipeline Name: <b>@{pipeline().Pipeline}</b><br/>\nPipeline Run Id: <b>@{pipeline().RunId}</b><br/>\n<hr/>\n<p style='color:gray'>This email was generated automatically. Please do not respond to it.</p>\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "act_gen_web_get_uri_val_fail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "act_iter_for_each_file",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"disableCertValidation": false,
							"url": {
								"value": "@pipeline().globalParameters.glob_param_akv_logapp_uri",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "act_gen_web_post_email_fail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "act_gen_lookup_get_error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "@activity('act_gen_web_get_uri_val_fail').output.value",
								"type": "Expression"
							},
							"body": {
								"value": "{\n\t\"subject\":\"Pipeline @{pipeline().Pipeline} finished. Status: Failed\",\n\t\"message\":\"<hr/>\n<h4 style='color:red'>Pipeline run failed.</h4>\n<hr/>\nData Factory Name: <b>@{pipeline().DataFactory}</b><br/>\nPipeline Name: <b>@{pipeline().Pipeline}</b><br/>\nPipeline Run Id: <b>@{pipeline().RunId}</b><br/>\nError: <b>@{activity('act_gen_lookup_get_error').output.firstRow.error_msg}</b><br/>\n<hr/>\n<p style='color:gray'>This email was generated automatically. Please do not respond to it.</p>\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "act_gen_lookup_get_error",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "act_gen_web_get_uri_val_fail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select distinct\n  error_msg\nfrom etl.tControlMetadataErrorLog\nwhere pipeline_id = '@{pipeline().RunId}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_db_movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"varExecStartTime": {
						"type": "String"
					},
					"varExecEndTime": {
						"type": "String"
					},
					"varLogicAppUrl": {
						"type": "String"
					}
				},
				"folder": {
					"name": "module#9"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-24T17:13:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test_copy_files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_bs_online",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"wildcardFileName": "*.json",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_bs_online",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_dls_online",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#7"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-09T07:30:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_load_datamart_Dims')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "module#8"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_db_movies_tMovies",
								"type": "DatasetReference"
							},
							"name": "srcMovies"
						},
						{
							"dataset": {
								"referenceName": "ds_db_movies_tMovieStatus",
								"type": "DatasetReference"
							},
							"name": "srcMovieStatus"
						},
						{
							"dataset": {
								"referenceName": "ds_db_movies_tOnlineService",
								"type": "DatasetReference"
							},
							"name": "srcOnlineService"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimOnlineService",
								"type": "DatasetReference"
							},
							"name": "srcDimOnlineService"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimMovie",
								"type": "DatasetReference"
							},
							"name": "srcDimMovie"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimMovie",
								"type": "DatasetReference"
							},
							"name": "sinkDimMovies"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimOnlineService",
								"type": "DatasetReference"
							},
							"name": "sinkDimOnlineService"
						}
					],
					"transformations": [
						{
							"name": "derivedDates",
							"description": "Creating/updating the audit columns 'CreatedDate, ModifiedDate'"
						},
						{
							"name": "joinMovieStatus",
							"description": "Define dataset for DimMovies"
						},
						{
							"name": "joinOnlService"
						},
						{
							"name": "derivedDt"
						},
						{
							"name": "alterRowS"
						},
						{
							"name": "joinDimMovies"
						},
						{
							"name": "alterRowM"
						}
					],
					"scriptLines": [
						"source(output(",
						"          MovieId as integer,",
						"          MovieIdNK as integer,",
						"          Budget as integer,",
						"          HomepagePath as string,",
						"          Title as string,",
						"          OriginalTitle as string,",
						"          ReleaseDate as date,",
						"          Revenue as long,",
						"          Runtime as integer,",
						"          MovieStatusId as integer,",
						"          AvgVote as decimal(3,1),",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcMovies",
						"source(output(",
						"          MovieStatusId as integer,",
						"          MovieStatusName as string,",
						"          CreatedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcMovieStatus",
						"source(output(",
						"          ServiceId as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcOnlineService",
						"source(output(",
						"          ServiceKey as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcDimOnlineService",
						"source(output(",
						"          MovieKey as integer,",
						"          MovieIdNK as integer,",
						"          Title as string,",
						"          ReleaseDate as date,",
						"          Runtime as integer,",
						"          MovieStatus as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcDimMovie",
						"joinDimMovies derive(CreatedDate = iifNull(srcDimMovie@CreatedDate, currentUTC()),",
						"          ModifiedDate = currentUTC(),",
						"          src_hash_key = crc32(256,srcMovies@MovieIdNK,srcMovies@Title,srcMovies@ReleaseDate,srcMovies@Runtime,MovieStatusName),",
						"          trg_hash_key = crc32(256,srcDimMovie@MovieIdNK,srcDimMovie@Title,srcDimMovie@ReleaseDate,srcDimMovie@Runtime,MovieStatus)) ~> derivedDates",
						"srcMovies, srcMovieStatus join(srcMovies@MovieStatusId == srcMovieStatus@MovieStatusId,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMovieStatus",
						"srcOnlineService, srcDimOnlineService join(srcOnlineService@ServiceCode == srcDimOnlineService@ServiceCode,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnlService",
						"joinOnlService derive(CreatedDate = iifNull(srcDimOnlineService@CreatedDate, currentUTC()),",
						"          ModifiedDate = currentUTC()) ~> derivedDt",
						"derivedDt alterRow(upsertIf(notEquals(crc32(256,srcOnlineService@ServiceCode,srcOnlineService@ServiceName),crc32(256,srcDimOnlineService@ServiceCode,srcDimOnlineService@ServiceName)))) ~> alterRowS",
						"joinMovieStatus, srcDimMovie join(srcMovies@MovieIdNK == srcDimMovie@MovieIdNK,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimMovies",
						"derivedDates alterRow(upsertIf(notEquals(src_hash_key,trg_hash_key))) ~> alterRowM",
						"alterRowM sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          MovieKey as integer,",
						"          MovieIdNK as integer,",
						"          Title as string,",
						"          ReleaseDate as date,",
						"          Runtime as integer,",
						"          MovieStatus as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['MovieIdNK'],",
						"     format: 'table',",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          MovieIdNK = srcMovies@MovieIdNK,",
						"          Title = srcMovies@Title,",
						"          ReleaseDate = srcMovies@ReleaseDate,",
						"          Runtime = srcMovies@Runtime,",
						"          MovieStatus = MovieStatusName,",
						"          CreatedDate,",
						"          ModifiedDate",
						"     )) ~> sinkDimMovies",
						"alterRowS sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ServiceKey as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['ServiceCode'],",
						"     format: 'table',",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ServiceCode = srcOnlineService@ServiceCode,",
						"          ServiceName = srcOnlineService@ServiceName,",
						"          CreatedDate,",
						"          ModifiedDate",
						"     )) ~> sinkDimOnlineService"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_load_datamart_Facts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "module#8"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_db_movies_tOnlinePurchase",
								"type": "DatasetReference"
							},
							"name": "srcOnlinePurchase"
						},
						{
							"dataset": {
								"referenceName": "ds_db_movies_tOnlineService",
								"type": "DatasetReference"
							},
							"name": "sourceOnlineService"
						},
						{
							"dataset": {
								"referenceName": "ds_db_movies_tMovies",
								"type": "DatasetReference"
							},
							"name": "sourceMovies"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimOnlineService",
								"type": "DatasetReference"
							},
							"name": "sourceDimOnlineService"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimMovie",
								"type": "DatasetReference"
							},
							"name": "sourceDimMovie"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_db_datamart_FactOnlinePurchase",
								"type": "DatasetReference"
							},
							"name": "sinkFactOnlinePurchase"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_FactOnlinePurchase_MonthlySnapshot",
								"type": "DatasetReference"
							},
							"name": "sinkFactOnlinePurchaseMonthlySnapshot"
						}
					],
					"transformations": [
						{
							"name": "joinOnlineService"
						},
						{
							"name": "joinMovies"
						},
						{
							"name": "selectMovies"
						},
						{
							"name": "joinDimOnlineService"
						},
						{
							"name": "joinDimMovie"
						},
						{
							"name": "selectDim"
						},
						{
							"name": "yyyyMMdd"
						},
						{
							"name": "yyyyMM"
						},
						{
							"name": "agg"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as integer,",
						"          ServiceId as integer,",
						"          MovieId as integer,",
						"          UserId as integer,",
						"          Price as decimal(4,1),",
						"          TransactionId as string,",
						"          TransactionDate as timestamp,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcOnlinePurchase",
						"source(output(",
						"          ServiceId as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> sourceOnlineService",
						"source(output(",
						"          MovieId as integer,",
						"          MovieIdNK as integer,",
						"          Budget as integer,",
						"          HomepagePath as string,",
						"          Title as string,",
						"          OriginalTitle as string,",
						"          ReleaseDate as date,",
						"          Revenue as long,",
						"          Runtime as integer,",
						"          MovieStatusId as integer,",
						"          AvgVote as decimal(3,1),",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> sourceMovies",
						"source(output(",
						"          ServiceKey as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> sourceDimOnlineService",
						"source(output(",
						"          MovieKey as integer,",
						"          MovieIdNK as integer,",
						"          Title as string,",
						"          ReleaseDate as date,",
						"          Runtime as integer,",
						"          MovieStatus as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> sourceDimMovie",
						"srcOnlinePurchase, sourceOnlineService join(srcOnlinePurchase@ServiceId == sourceOnlineService@ServiceId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnlineService",
						"joinOnlineService, sourceMovies join(srcOnlinePurchase@MovieId == sourceMovies@MovieId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMovies",
						"joinMovies select(mapColumn(",
						"          TransactionDate,",
						"          TransactionId,",
						"          Price,",
						"          ServiceCode,",
						"          MovieIdNK",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> selectMovies",
						"selectMovies, sourceDimOnlineService join(selectMovies@ServiceCode == sourceDimOnlineService@ServiceCode,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimOnlineService",
						"joinDimOnlineService, sourceDimMovie join(selectMovies@MovieIdNK == sourceDimMovie@MovieIdNK,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimMovie",
						"joinDimMovie select(mapColumn(",
						"          Price,",
						"          TransactionId,",
						"          ServiceKey,",
						"          MovieKey,",
						"          Title,",
						"          TransactionDate",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> selectDim",
						"selectDim derive(TransactionDate = toInteger( replace( toString(TransactionDate,'yyyy-MM-dd'), '-','') )) ~> yyyyMMdd",
						"selectDim derive(TransactionDate = toInteger(substring(replace(toString(TransactionDate,'yyyy-MM-dd'), '-',''), 1, 6))) ~> yyyyMM",
						"yyyyMM aggregate(groupBy(TransactionDate,",
						"          ServiceKey),",
						"     Price = sum(Price),",
						"          TransactionId = count(TransactionId)) ~> agg",
						"yyyyMMdd sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          DateKey as integer,",
						"          OnlineServiceKey as integer,",
						"          MovieKey as integer,",
						"          Price as decimal(4,1),",
						"          TransactionId as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          DateKey = TransactionDate,",
						"          OnlineServiceKey = ServiceKey,",
						"          MovieKey,",
						"          Price,",
						"          TransactionId",
						"     )) ~> sinkFactOnlinePurchase",
						"agg sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          MonthKey as integer,",
						"          OnlineServiceKey as integer,",
						"          PurchaseAmount as decimal(10,1),",
						"          PurchaseQuantity as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          MonthKey = TransactionDate,",
						"          OnlineServiceKey = ServiceKey,",
						"          PurchaseAmount = Price,",
						"          PurchaseQuantity = TransactionId",
						"     )) ~> sinkFactOnlinePurchaseMonthlySnapshot"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_load_datamart_Facts_old')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "module#8"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ls_adf_db_movies",
								"type": "LinkedServiceReference"
							},
							"name": "srcMoviesDB"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimMovie",
								"type": "DatasetReference"
							},
							"name": "srcDimMovie"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_DimOnlineService",
								"type": "DatasetReference"
							},
							"name": "srcDimOnlineService"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_db_datamart_FactOnlinePurchase",
								"type": "DatasetReference"
							},
							"name": "sinkFactOnlinePurchase"
						},
						{
							"dataset": {
								"referenceName": "ds_db_datamart_FactOnlinePurchase_MonthlySnapshot",
								"type": "DatasetReference"
							},
							"name": "sinkFactOnlinePurchaseMonthlySnapshot"
						}
					],
					"transformations": [
						{
							"name": "joinDimOnlineService"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "joinDimMovie"
						}
					],
					"scriptLines": [
						"source(output(",
						"          DateKey as integer,",
						"          MonthKey as integer,",
						"          Price as decimal(4,1),",
						"          TransactionId as string,",
						"          ServiceCode as string,",
						"          MovieIdNK as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 10,",
						"     format: 'query',",
						"     store: 'sqlserver',",
						"     query: 'select \\n    cast(format(op.TransactionDate,\\'yyyyMMdd\\') as int) as DateKey\\n   ,cast(format(op.TransactionDate,\\'yyyyMM\\') as int) as MonthKey\\n   ,op.Price\\n   ,op.TransactionId\\n   ,os.ServiceCode\\n   ,m.MovieIdNK\\nfrom dbo.test_tOnlinePurchase op\\nleft join dbo.tOnlineService os ON os.ServiceId = op.ServiceId\\nleft join dbo.tMovies m ON m.MovieId = op.MovieId',",
						"     isolationLevel: 'READ_COMMITTED') ~> srcMoviesDB",
						"source(output(",
						"          MovieKey as integer,",
						"          MovieIdNK as integer,",
						"          Title as string,",
						"          ReleaseDate as date,",
						"          Runtime as integer,",
						"          MovieStatus as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 10,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     format: 'table') ~> srcDimMovie",
						"source(output(",
						"          ServiceCode as string,",
						"          OnlineServiceKey as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_COMMITTED',",
						"     query: 'select ServiceCode, ServiceKey as OnlineServiceKey\\nfrom dbo.DimOnlineService',",
						"     format: 'query') ~> srcDimOnlineService",
						"srcMoviesDB, srcDimOnlineService join(srcDimOnlineService@ServiceCode == srcDimOnlineService@ServiceCode,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'both')~> joinDimOnlineService",
						"joinDimMovie aggregate(groupBy(MonthKey,",
						"          OnlineServiceKey),",
						"     PurchaseAmount = sum(Price),",
						"          PurchaseQuantity = count(TransactionId)) ~> aggregate1",
						"joinDimOnlineService, srcDimMovie join(srcMoviesDB@MovieIdNK == coalesce(srcDimMovie@MovieIdNK, 126889),",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'both')~> joinDimMovie",
						"joinDimMovie sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          DateKey as integer,",
						"          OnlineServiceKey as integer,",
						"          MovieKey as integer,",
						"          Price as decimal(4,1),",
						"          TransactionId as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          DateKey,",
						"          OnlineServiceKey,",
						"          MovieKey,",
						"          Price,",
						"          TransactionId",
						"     )) ~> sinkFactOnlinePurchase",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          MonthKey as integer,",
						"          OnlineServiceKey as integer,",
						"          PurchaseAmount as decimal(10,1),",
						"          PurchaseQuantity as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          MonthKey,",
						"          OnlineServiceKey,",
						"          PurchaseAmount,",
						"          PurchaseQuantity",
						"     )) ~> sinkFactOnlinePurchaseMonthlySnapshot"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_to_db')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_gen_exec_copy_to_db_stg_credits",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_to_db_stg_credits",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_copy_to_db_stg_metadata",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_to_db_stg_metadata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_copy_to_db_stg_ratings",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_to_db_stg_ratings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_etl_to_db_dbo",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_exec_copy_to_db_stg_credits",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "act_gen_exec_copy_to_db_stg_metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "act_gen_exec_copy_to_db_stg_ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_etl_to_db_dbo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#5"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-29T13:31:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_copy_to_db_stg_metadata')]",
				"[concat(variables('factoryId'), '/pipelines/pl_copy_to_db_stg_ratings')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_copy_online_purchase')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_gen_exec_copy_online_json",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_online_json",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_copy_to_db_stg_online_purchase",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_exec_copy_online_json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_to_db_stg_online_purchase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_etl_to_db_dbo_online_purchase",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_exec_copy_to_db_stg_online_purchase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_etl_to_db_dbo_online_purchase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_copy_files_to_archive",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_exec_etl_to_db_dbo_online_purchase",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_files_to_archive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#7"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-08T12:47:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_copy_to_db_stg_online_purchase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_test_genre')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_to_db_stg_metadata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_sp_Genre",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateGenre]"
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_db_movies",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute Pipeline3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_sp_Genre",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_move_files_to_archive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline4",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_data_ds_source_to_ds_sink_v2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#5"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-28T09:02:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_copy_to_db_stg_metadata')]",
				"[concat(variables('factoryId'), '/pipelines/pl_data_ds_source_to_ds_sink_v2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_tran_load_datamart_dims_and_facts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_mt_df_LoadDatamartDims",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_load_datamart_Dims",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcMovies": {},
									"srcMovieStatus": {},
									"srcOnlineService": {},
									"srcDimOnlineService": {},
									"srcDimMovie": {},
									"sinkDimMovies": {},
									"sinkDimOnlineService": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "Azure-IR-M8",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "act_mt_df_LoadDatamartFacts",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "act_mt_df_LoadDatamartDims",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_load_datamart_Facts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcOnlinePurchase": {},
									"sourceOnlineService": {},
									"sourceMovies": {},
									"sourceDimOnlineService": {},
									"sourceDimMovie": {},
									"sinkFactOnlinePurchase": {},
									"sinkFactOnlinePurchaseMonthlySnapshot": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "Azure-IR-M8",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#8"
				},
				"annotations": [],
				"lastPublishTime": "2025-09-15T13:25:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_load_datamart_Dims')]",
				"[concat(variables('factoryId'), '/dataflows/df_load_datamart_Facts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_pl_copy_inc_CinemaTickets')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_copy_inc_CinemaTickets",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2025-09-03T12:30:00",
						"timeZone": "Belarus Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_copy_dls_to_db')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_gen_exec_copy_data_to_db",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_exec_copy_files_to_dls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_copy_to_db",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_copy_files_to_dls",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_data_ds_source_to_ds_sink_v2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "act_gen_exec_move_files_to_archive",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "act_gen_exec_copy_data_to_db",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_move_files_to_archive",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "module#5"
				},
				"annotations": [],
				"lastPublishTime": "2025-08-29T13:31:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_copy_to_db')]",
				"[concat(variables('factoryId'), '/pipelines/pl_data_ds_source_to_ds_sink_v2')]"
			]
		}
	]
}